#quizz-container {
    width: 100%;
    max-width: 95vw;
}

.question {
    font-size: 1.8rem;
    margin-bottom: 1.8rem;
}
.choice-container {
    display: flex;
    margin-bottom: 0.5rem;
    width: 100%;
    font-size: 1.8rem;
    border: 0.1rem solid #009688;
    background-color: white;
}

.choice-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgb(86, 185, 235, 0.5);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}

.choice-prefix {
    display: flex;
    padding: 1.5rem 2.5rem;
    background-color: #009688;
    color: white;
    align-items: center;
}

.choice-text {
    padding: 1.5rem;
}

.choice-selected {
    /* background-color: #0096873f; */
    background-color: #0589ed3f;
}

/* check */
.checkmark {
    display:inline-block;
    width: 22px;
    height:22px;
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
    text-align: right;
    margin-top: 12px;
}

.checkmark_circle {
    position: absolute;
    width:22px;
    height:22px;
    background-color: green;
    border-radius:11px;
    left:0;
    top:0;
}

.checkmark_stem {
    position: absolute;
    width:3px;
    height:12px;
    background-color:#fff;
    left:11px;
    top:5px;
}

.checkmark_kick {
    position: absolute;
    width:5px;
    height:3px;
    background-color:#fff;
    left:7px;
    top:14px;
}
/* cross */
.crossmark {
    display:inline-block;
    width: 22px;
    height:22px;
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
    text-align: right;
    margin-top: 12px;
}

.crossmark_circle {
    position: absolute;
    width:22px;
    height:22px;
    background-color: red;
    border-radius:11px;
    left:0;
    top:0;
}

.crossmark_stem {
    position: absolute;
    width:3px;
    height:18px;
    background-color:#fff;
    left:10px;
    top:2px;
}

.crossmark_kick {
    position: absolute;
    width:18px;
    height:3px;
    background-color:#fff;
    left:2px;
    top:10px;
}

.mark_ltr {
    margin-left: auto;
}

.mark_rtl {
    margin-right: auto;
}